
<div class="content">
    <h1>Template Syntax</h1>
    <div>
        <div>
            <h2>Interpolation</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="source/interpolation.html"></source-code-view>
            <h2>Property Binding</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="source/property-binding.html"></source-code-view>
            <h2>Event Binding</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="source/event-binding.html"></source-code-view>
            <h2>Two-Way Binding</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="source/two-way-binding.html"></source-code-view>
        </div>
        <div>
            <h2>Structural</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="source/structural.html"></source-code-view>
            <h2>References</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="source/references.html"></source-code-view>
            <h2>Pipes</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="source/pipes.html"></source-code-view>
            <h2>Safe Navigation</h2>
            <source-code-view language="html" [relativeTo]="thisModuleId" name="source/safe-navigation.html"></source-code-view>
        </div>
    </div>
</div>
