
<div class="content">
    <h1>Features / Ecosystem</h1>
    <div>
        <ul>
            <li>Performance Increase</li>
            <li>Great Documentation</li>
            <li>Component Life-Cycle Hooks</li>
            <li>Encapsulated Component CSS</li>
            <li>Pipes (including Async)</li>
            <li>Forms Building and Validations</li>
            <li>Animations</li>
            <li>Material Design</li>
        </ul>
        <ul>
            <li>Localization</li>
            <li>Accessibility</li>
            <li>Testing (Karma/Protractor)</li>
            <li>Augury (Debugging)</li>
            <li>angular-cli (Command Line Interface)</li>
            <li>ngUpgrade</li>
            <li>Other Libraries (ngrx, Redux, etc.)</li>
        </ul>
    </div>
</div>
