
<div class="content">
    <h1>
        <img [src]="resolvePath('Rx_Logo_S.png')">
        <span>Observables (RxJS)</span>
    </h1>
    <ul>
        <li>
            Stream of
            <ul>
                <li>any number of things</li>
                <li>over any length of time</li>
            </ul>
        </li>
        <li>
            Helps With
            <ul>
                <li>Memory Leaks (unsubscribe)</li>
                <li>Race Conditions</li>
                <li>Complex State Machines</li>
                <li>Error Handling</li>
            </ul>
        </li>
        <li>Observables declare intent</li>
        <li>Lazy (requires Subscription)</li>
        <li>Fully cancellable (including tear-down)</li>
        <li>Orchestration (like LoDash for async)</li>
    </ul>
</div>
