
div.content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {

    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 5vh;

    img {
      display: inline-block;
      height: 4vh;
    }
  }

  li {
    font-size: 3.5vh;
    margin-bottom: 1vh;
    > ul {
      margin-top: 1vh;
    }
  }

}
