<div (keyup)="handleKey($event)" tabindex="1">
    <title-page *viewSlide="false"></title-page>
    <building-blocks *viewSlide="false"></building-blocks>
    <basic-setup *viewSlide="false"></basic-setup>
    <basic-bootstrap *viewSlide="false"></basic-bootstrap>
    <component-structure *viewSlide="false"></component-structure>
    <template-syntax *viewSlide="false"></template-syntax>
    <component-hierarchy *viewSlide="false"></component-hierarchy>
    <inputs-outputs *viewSlide="false"></inputs-outputs>
    <why-not-promises *viewSlide="false"></why-not-promises>
    <observables *viewSlide="false"></observables>
    <socket-observable-example *viewSlide="false"></socket-observable-example>
    <injectable-services *viewSlide="false"></injectable-services>
    <template-forms *viewSlide="false"></template-forms>
    <model-forms *viewSlide="false"></model-forms>
    <!-- next slide here -->
    <other-features *viewSlide="false"></other-features>
    <closing-page *viewSlide="false"></closing-page>
</div>